# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
borgmatic:

    # This will be serialized into the default config file
  config: {}
    # Borgmatic supports multiple configuration files.
    # This is a mapping of file name to configuration values.
    # If you need a value to have a tag, make it a map
    # of {tag: "!tag", value: myvalue} instead.
    # Includes can be done with "<<": {tag: "!include", value: "common/myfile.yaml"}
  config_d: {}
    # This can contain partial configurations that can be
    # included in your config_d files.
    # Specify it in the same format as `config_d`.
  config_d_common: {}
  encryption: none
    # install method - venv or pip (the latter fails from 3006 on -> relenv)
  install: venv
    # when install == pip, install borgmatic globally
  install_global: false
    # Mapping of FQDN/hostname/IP to host key.
    # Furthermore, host keys will be autodisovered if
    # a) borg servers have the pillar value `borg_role: server` (see borg formula)
    # b) they expose their host keys in the mine as `ssh.host_keys`
    # c) they expose their IP address as `default_addr`
    # d) they report an "ed25519" key (opinionated choice ;])
  known_hosts: {}
  pip_pkgs: []
  service:
    exec_start_pre: []
    rand_delay: 3h
    timer: daily
    # the version to install. `latest` will auto-upgrade
  version: latest

  lookup:
    paths:
      bin: /usr/local/bin/borgmatic
      config_d: /etc/borgmatic.d
      install: /opt/borgmatic
    pkg:
      name: borgmatic
      reqs:
        borg: borgbackup
        pip: python3-pip
        python: python3
        venv:
          pip: virtualenv
          pkg: python3-virtualenv
    scripts: /opt/borgmatic/scripts
    service:
      name: borgmatic
      timer: /etc/systemd/system/{name}.timer
      unit: /etc/systemd/system/{name}.service
    ssh_key_pillar: borgmatic_secrets:ssh

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://borgmatic/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      Borgmatic configuration is managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
